html,
body {
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: #003087;
  padding-bottom: 10px;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 8em;
  font-family: "Tahoma";
  font-weight: normal;
  color: white;
}

#featured{
  text-align: center;
  margin: 10px;
  font-size: 24pt;
  font-family: "Tahoma";
  font-weight: bold;
  color: #000000;
}

#card-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.card-content {
  padding: 20px;
  font-family: "Tahoma";
  color: #777;
}

.card-content h2 {
  margin-top: 0;
  font-size: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}

button {
  text-align: center;
  background-color: #003087;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 5px;
}

button:hover, button:focus {
  background-color: #0059e6;
}

#sorting{
  text-align: center;
  background-color: #777;
}

#filtering{
  text-align: center;
  background-color: #777;
}

.data-table {
  margin:10px;
  border-collapse: collapse;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Tahoma";
}

.data-table th {
  border: 2px solid #000000;
  padding: 10px;
  align-content: center;
  font-size: 20pt;
  font-family: Calibri;
  font-weight: bold;
}
.data-table td {
  border: 2px solid #000000;
  padding: 10px;
  align-content: center;
  vertical-align: middle;
  text-align: center;
}

.data-table th {
  background-color: #003087;
  color: white;
}

.data-table tr:nth-child(even) {
  background-color: #eaeaea;
}
